body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: rgb(64, 150, 230);
}

img {
    height: 35px;
    width: 140px;
    margin: 50px auto;
    display: block;
}

fieldset {
    border: none;
}

legend {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 15px;
}

.sign-up {
    width: 400px;
    background-color: white;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.email {
    width: 320px;
}

input[type="email"], input[type="password"], button[type="submit"] {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    border-radius: 3px;
}

input[type="email"], input[type="password"] {
    border: 2px solid rgb(231, 225, 225);
    margin: 10px auto 20px;
    font-size: 15px;
    color: rgb(168, 164, 164);
}


.button {
    width: 320px;
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: rgb(106, 199, 106);
    color:white;
    height: 55px;
    border-radius: 3px;
    text-align: center;
}

label {
    font-size: 16px;
}

h4 {
    text-align: center;
    color: white;
}

a {
    color: white;
}

